In [1]:
# Import dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf

In [2]:
# import data
df = pd.read_csv("../resources/train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [3]:
# display numerical features
df_num = df.select_dtypes(include = ['float64', 'int64'])
df_num.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
0,1,60,65.0,8450,7,5,2003,2003,196.0,706,...,0,61,0,0,0,0,0,2,2008,208500
1,2,20,80.0,9600,6,8,1976,1976,0.0,978,...,298,0,0,0,0,0,0,5,2007,181500
2,3,60,68.0,11250,7,5,2001,2002,162.0,486,...,0,42,0,0,0,0,0,9,2008,223500
3,4,70,60.0,9550,7,5,1915,1970,0.0,216,...,0,35,272,0,0,0,0,2,2006,140000
4,5,60,84.0,14260,8,5,2000,2000,350.0,655,...,192,84,0,0,0,0,0,12,2008,250000

## Data Preprocessing

In [4]:
# fill missing values with the mean for each numerical feature
df = df.fillna(df_num.mean())

In [5]:
# drop 'Id'
df = df.drop("Id", axis=1)
df.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [6]:
# drop outliers (rooms with more than 4000 square feet)
df = df[df.GrLivArea <= 4000]

In [7]:
# get_dummies for categorical data
dummies = pd.get_dummies(df)
dummies.head()

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtFinSF2,...,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_Abnorml,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,60,65.0,8450,7,5,2003,2003,196.0,706,0,...,False,False,False,True,False,False,False,False,True,False
1,20,80.0,9600,6,8,1976,1976,0.0,978,0,...,False,False,False,True,False,False,False,False,True,False
2,60,68.0,11250,7,5,2001,2002,162.0,486,0,...,False,False,False,True,False,False,False,False,True,False
3,70,60.0,9550,7,5,1915,1970,0.0,216,0,...,False,False,False,True,True,False,False,False,False,False
4,60,84.0,14260,8,5,2000,2000,350.0,655,0,...,False,False,False,True,False,False,False,False,True,False

In [8]:
# split data into target and features
y = dummies.SalePrice.values
X = dummies.drop(columns="SalePrice").values

# split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [9]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train, Evaluate the Model

In [10]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 580
hidden_nodes_layer2 = 200

nn = tf.keras.models.Sequential()

# bares bones nn (for testing)
# nn.add(tf.keras.layers.Dense(units=1, input_dim=number_input_features, activation="linear"))

# First hidden layer
nn.add(
    tf.keras.layers.Dense(
        units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"
    )
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
# going with linear, as this is a linear regression problem
nn.add(tf.keras.layers.Dense(units=1, activation="linear"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 580)               166460

 dense_1 (Dense)             (None, 200)               116200

 dense_2 (Dense)             (None, 1)                 201

=================================================================
Total params: 282861 (1.08 MB)
Trainable params: 282861 (1.08 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [11]:
# Compile the model
nn.compile(loss="mean_squared_error", optimizer="adam", metrics=["mse"])

In [12]:
# Train the model
fit_model = nn.fit(
    X_train_scaled,
    y_train,
    epochs=100,
    validation_data=(X_test_scaled, y_test),
)

Epoch 1/100
35/35 [==============================] - 1s 10ms/step - loss: 38564802560.0000 - mse: 38564802560.0000 - val_loss: 37525061632.0000 - val_mse: 37525061632.0000
Epoch 2/100
35/35 [==============================] - 0s 5ms/step - loss: 38377041920.0000 - mse: 38377041920.0000 - val_loss: 37133643776.0000 - val_mse: 37133643776.0000
Epoch 3/100
35/35 [==============================] - 0s 4ms/step - loss: 37464887296.0000 - mse: 37464887296.0000 - val_loss: 35752505344.0000 - val_mse: 35752505344.0000
Epoch 4/100
35/35 [==============================] - 0s 4ms/step - loss: 35056369664.0000 - mse: 35056369664.0000 - val_loss: 32738893824.0000 - val_mse: 32738893824.0000
Epoch 5/100
35/35 [==============================] - 0s 4ms/step - loss: 30623496192.0000 - mse: 30623496192.0000 - val_loss: 27875756032.0000 - val_mse: 27875756032.0000
Epoch 6/100
35/35 [==============================] - 0s 4ms/step - loss: 24462880768.0000 - mse: 24462880768.0000 - val_loss: 21801037824.0000 - val_mse: 21801037824.0000
Epoch 7/100
35/35 [==============================] - 0s 4ms/step - loss: 17612335104.0000 - mse: 17612335104.0000 - val_loss: 15969531904.0000 - val_mse: 15969531904.0000
Epoch 8/100
35/35 [==============================] - 0s 4ms/step - loss: 11965597696.0000 - mse: 11965597696.0000 - val_loss: 11718138880.0000 - val_mse: 11718138880.0000
Epoch 9/100
35/35 [==============================] - 0s 4ms/step - loss: 8376020992.0000 - mse: 8376020992.0000 - val_loss: 9309249536.0000 - val_mse: 9309249536.0000
Epoch 10/100
35/35 [==============================] - 0s 7ms/step - loss: 6502285312.0000 - mse: 6502285312.0000 - val_loss: 7790706688.0000 - val_mse: 7790706688.0000
Epoch 11/100
35/35 [==============================] - 0s 4ms/step - loss: 5277592064.0000 - mse: 5277592064.0000 - val_loss: 6674789888.0000 - val_mse: 6674789888.0000
Epoch 12/100
35/35 [==============================] - 0s 4ms/step - loss: 4314404864.0000 - mse: 4314404864.0000 - val_loss: 5710163968.0000 - val_mse: 5710163968.0000
Epoch 13/100
35/35 [==============================] - 0s 5ms/step - loss: 3531473152.0000 - mse: 3531473152.0000 - val_loss: 4970215424.0000 - val_mse: 4970215424.0000
Epoch 14/100
35/35 [==============================] - 0s 4ms/step - loss: 2958771200.0000 - mse: 2958771200.0000 - val_loss: 4372631040.0000 - val_mse: 4372631040.0000
Epoch 15/100
35/35 [==============================] - 0s 4ms/step - loss: 2527521792.0000 - mse: 2527521792.0000 - val_loss: 3927957760.0000 - val_mse: 3927957760.0000
Epoch 16/100
35/35 [==============================] - 0s 4ms/step - loss: 2229120512.0000 - mse: 2229120512.0000 - val_loss: 3617316352.0000 - val_mse: 3617316352.0000
Epoch 17/100
35/35 [==============================] - 0s 4ms/step - loss: 2024598400.0000 - mse: 2024598400.0000 - val_loss: 3385208832.0000 - val_mse: 3385208832.0000
Epoch 18/100
35/35 [==============================] - 0s 4ms/step - loss: 1870021120.0000 - mse: 1870021120.0000 - val_loss: 3205194752.0000 - val_mse: 3205194752.0000
Epoch 19/100
35/35 [==============================] - 0s 4ms/step - loss: 1752539392.0000 - mse: 1752539392.0000 - val_loss: 3057178880.0000 - val_mse: 3057178880.0000
Epoch 20/100
35/35 [==============================] - 0s 4ms/step - loss: 1660115584.0000 - mse: 1660115584.0000 - val_loss: 2940206336.0000 - val_mse: 2940206336.0000
Epoch 21/100
35/35 [==============================] - 0s 4ms/step - loss: 1575601920.0000 - mse: 1575601920.0000 - val_loss: 2855113472.0000 - val_mse: 2855113472.0000
Epoch 22/100
35/35 [==============================] - 0s 4ms/step - loss: 1501315072.0000 - mse: 1501315072.0000 - val_loss: 2745452544.0000 - val_mse: 2745452544.0000
Epoch 23/100
35/35 [==============================] - 0s 4ms/step - loss: 1435799808.0000 - mse: 1435799808.0000 - val_loss: 2663862016.0000 - val_mse: 2663862016.0000
Epoch 24/100
35/35 [==============================] - 0s 4ms/step - loss: 1374200320.0000 - mse: 1374200320.0000 - val_loss: 2588850944.0000 - val_mse: 2588850944.0000
Epoch 25/100
35/35 [==============================] - 0s 4ms/step - loss: 1318284544.0000 - mse: 1318284544.0000 - val_loss: 2535100928.0000 - val_mse: 2535100928.0000
Epoch 26/100
35/35 [==============================] - 0s 4ms/step - loss: 1266954112.0000 - mse: 1266954112.0000 - val_loss: 2477086976.0000 - val_mse: 2477086976.0000
Epoch 27/100
35/35 [==============================] - 0s 4ms/step - loss: 1220621696.0000 - mse: 1220621696.0000 - val_loss: 2422035200.0000 - val_mse: 2422035200.0000
Epoch 28/100
35/35 [==============================] - 0s 4ms/step - loss: 1174219648.0000 - mse: 1174219648.0000 - val_loss: 2365325824.0000 - val_mse: 2365325824.0000
Epoch 29/100
35/35 [==============================] - 0s 4ms/step - loss: 1138607872.0000 - mse: 1138607872.0000 - val_loss: 2319979008.0000 - val_mse: 2319979008.0000
Epoch 30/100
35/35 [==============================] - 0s 4ms/step - loss: 1099999104.0000 - mse: 1099999104.0000 - val_loss: 2275516160.0000 - val_mse: 2275516160.0000
Epoch 31/100
35/35 [==============================] - 0s 4ms/step - loss: 1063523392.0000 - mse: 1063523392.0000 - val_loss: 2246747648.0000 - val_mse: 2246747648.0000
Epoch 32/100
35/35 [==============================] - 0s 4ms/step - loss: 1034230080.0000 - mse: 1034230080.0000 - val_loss: 2200684032.0000 - val_mse: 2200684032.0000
Epoch 33/100
35/35 [==============================] - 0s 4ms/step - loss: 1006190528.0000 - mse: 1006190528.0000 - val_loss: 2167370752.0000 - val_mse: 2167370752.0000
Epoch 34/100
35/35 [==============================] - 0s 5ms/step - loss: 975578880.0000 - mse: 975578880.0000 - val_loss: 2136554112.0000 - val_mse: 2136554112.0000
Epoch 35/100
35/35 [==============================] - 0s 4ms/step - loss: 950349696.0000 - mse: 950349696.0000 - val_loss: 2111740416.0000 - val_mse: 2111740416.0000
Epoch 36/100
35/35 [==============================] - 0s 4ms/step - loss: 925767296.0000 - mse: 925767296.0000 - val_loss: 2087171072.0000 - val_mse: 2087171072.0000
Epoch 37/100
35/35 [==============================] - 0s 4ms/step - loss: 899149824.0000 - mse: 899149824.0000 - val_loss: 2041207168.0000 - val_mse: 2041207168.0000
Epoch 38/100
35/35 [==============================] - 0s 4ms/step - loss: 883096000.0000 - mse: 883096000.0000 - val_loss: 2015585792.0000 - val_mse: 2015585792.0000
Epoch 39/100
35/35 [==============================] - 0s 5ms/step - loss: 856257472.0000 - mse: 856257472.0000 - val_loss: 2004000512.0000 - val_mse: 2004000512.0000
Epoch 40/100
35/35 [==============================] - 0s 4ms/step - loss: 838304768.0000 - mse: 838304768.0000 - val_loss: 1977436032.0000 - val_mse: 1977436032.0000
Epoch 41/100
35/35 [==============================] - 0s 4ms/step - loss: 820412992.0000 - mse: 820412992.0000 - val_loss: 1960394624.0000 - val_mse: 1960394624.0000
Epoch 42/100
35/35 [==============================] - 0s 4ms/step - loss: 801673344.0000 - mse: 801673344.0000 - val_loss: 1939891200.0000 - val_mse: 1939891200.0000
Epoch 43/100
35/35 [==============================] - 0s 5ms/step - loss: 786362752.0000 - mse: 786362752.0000 - val_loss: 1921755008.0000 - val_mse: 1921755008.0000
Epoch 44/100
35/35 [==============================] - 0s 4ms/step - loss: 768819904.0000 - mse: 768819904.0000 - val_loss: 1904489472.0000 - val_mse: 1904489472.0000
Epoch 45/100
35/35 [==============================] - 0s 4ms/step - loss: 752644864.0000 - mse: 752644864.0000 - val_loss: 1890388096.0000 - val_mse: 1890388096.0000
Epoch 46/100
35/35 [==============================] - 0s 4ms/step - loss: 738479360.0000 - mse: 738479360.0000 - val_loss: 1880742016.0000 - val_mse: 1880742016.0000
Epoch 47/100
35/35 [==============================] - 0s 4ms/step - loss: 727187072.0000 - mse: 727187072.0000 - val_loss: 1860864640.0000 - val_mse: 1860864640.0000
Epoch 48/100
35/35 [==============================] - 0s 4ms/step - loss: 714229184.0000 - mse: 714229184.0000 - val_loss: 1843495808.0000 - val_mse: 1843495808.0000
Epoch 49/100
35/35 [==============================] - 0s 3ms/step - loss: 699430144.0000 - mse: 699430144.0000 - val_loss: 1836789504.0000 - val_mse: 1836789504.0000
Epoch 50/100
35/35 [==============================] - 0s 3ms/step - loss: 687816320.0000 - mse: 687816320.0000 - val_loss: 1826060928.0000 - val_mse: 1826060928.0000
Epoch 51/100
35/35 [==============================] - 0s 5ms/step - loss: 675085632.0000 - mse: 675085632.0000 - val_loss: 1809682432.0000 - val_mse: 1809682432.0000
Epoch 52/100
35/35 [==============================] - 0s 3ms/step - loss: 664655552.0000 - mse: 664655552.0000 - val_loss: 1794532096.0000 - val_mse: 1794532096.0000
Epoch 53/100
35/35 [==============================] - 0s 3ms/step - loss: 654123008.0000 - mse: 654123008.0000 - val_loss: 1787196800.0000 - val_mse: 1787196800.0000
Epoch 54/100
35/35 [==============================] - 0s 3ms/step - loss: 642215808.0000 - mse: 642215808.0000 - val_loss: 1769616768.0000 - val_mse: 1769616768.0000
Epoch 55/100
35/35 [==============================] - 0s 4ms/step - loss: 633649344.0000 - mse: 633649344.0000 - val_loss: 1748663296.0000 - val_mse: 1748663296.0000
Epoch 56/100
35/35 [==============================] - 0s 4ms/step - loss: 622499264.0000 - mse: 622499264.0000 - val_loss: 1738109056.0000 - val_mse: 1738109056.0000
Epoch 57/100
35/35 [==============================] - 0s 3ms/step - loss: 612092544.0000 - mse: 612092544.0000 - val_loss: 1733778944.0000 - val_mse: 1733778944.0000
Epoch 58/100
35/35 [==============================] - 0s 4ms/step - loss: 603184128.0000 - mse: 603184128.0000 - val_loss: 1726910208.0000 - val_mse: 1726910208.0000
Epoch 59/100
35/35 [==============================] - 0s 4ms/step - loss: 592702848.0000 - mse: 592702848.0000 - val_loss: 1712715648.0000 - val_mse: 1712715648.0000
Epoch 60/100
35/35 [==============================] - 0s 4ms/step - loss: 584617792.0000 - mse: 584617792.0000 - val_loss: 1710462592.0000 - val_mse: 1710462592.0000
Epoch 61/100
35/35 [==============================] - 0s 4ms/step - loss: 575570560.0000 - mse: 575570560.0000 - val_loss: 1695089408.0000 - val_mse: 1695089408.0000
Epoch 62/100
35/35 [==============================] - 0s 4ms/step - loss: 568752640.0000 - mse: 568752640.0000 - val_loss: 1680803712.0000 - val_mse: 1680803712.0000
Epoch 63/100
35/35 [==============================] - 0s 4ms/step - loss: 560341504.0000 - mse: 560341504.0000 - val_loss: 1665597056.0000 - val_mse: 1665597056.0000
Epoch 64/100
35/35 [==============================] - 0s 4ms/step - loss: 554486144.0000 - mse: 554486144.0000 - val_loss: 1665732864.0000 - val_mse: 1665732864.0000
Epoch 65/100
35/35 [==============================] - 0s 5ms/step - loss: 545510208.0000 - mse: 545510208.0000 - val_loss: 1654201344.0000 - val_mse: 1654201344.0000
Epoch 66/100
35/35 [==============================] - 0s 6ms/step - loss: 537276224.0000 - mse: 537276224.0000 - val_loss: 1650439296.0000 - val_mse: 1650439296.0000
Epoch 67/100
35/35 [==============================] - 0s 4ms/step - loss: 528883808.0000 - mse: 528883808.0000 - val_loss: 1647393920.0000 - val_mse: 1647393920.0000
Epoch 68/100
35/35 [==============================] - 0s 4ms/step - loss: 520367424.0000 - mse: 520367424.0000 - val_loss: 1633312000.0000 - val_mse: 1633312000.0000
Epoch 69/100
35/35 [==============================] - 0s 4ms/step - loss: 515731904.0000 - mse: 515731904.0000 - val_loss: 1634930688.0000 - val_mse: 1634930688.0000
Epoch 70/100
35/35 [==============================] - 0s 5ms/step - loss: 507180224.0000 - mse: 507180224.0000 - val_loss: 1624066560.0000 - val_mse: 1624066560.0000
Epoch 71/100
35/35 [==============================] - 0s 4ms/step - loss: 500965856.0000 - mse: 500965856.0000 - val_loss: 1617928448.0000 - val_mse: 1617928448.0000
Epoch 72/100
35/35 [==============================] - 0s 4ms/step - loss: 494781920.0000 - mse: 494781920.0000 - val_loss: 1607512576.0000 - val_mse: 1607512576.0000
Epoch 73/100
35/35 [==============================] - 0s 4ms/step - loss: 486998912.0000 - mse: 486998912.0000 - val_loss: 1607922816.0000 - val_mse: 1607922816.0000
Epoch 74/100
35/35 [==============================] - 0s 4ms/step - loss: 480901216.0000 - mse: 480901216.0000 - val_loss: 1593837440.0000 - val_mse: 1593837440.0000
Epoch 75/100
35/35 [==============================] - 0s 5ms/step - loss: 475413568.0000 - mse: 475413568.0000 - val_loss: 1594234880.0000 - val_mse: 1594234880.0000
Epoch 76/100
35/35 [==============================] - 0s 4ms/step - loss: 468651264.0000 - mse: 468651264.0000 - val_loss: 1578088704.0000 - val_mse: 1578088704.0000
Epoch 77/100
35/35 [==============================] - 0s 4ms/step - loss: 465647744.0000 - mse: 465647744.0000 - val_loss: 1580452352.0000 - val_mse: 1580452352.0000
Epoch 78/100
35/35 [==============================] - 0s 5ms/step - loss: 456151680.0000 - mse: 456151680.0000 - val_loss: 1569725440.0000 - val_mse: 1569725440.0000
Epoch 79/100
35/35 [==============================] - 0s 5ms/step - loss: 453425504.0000 - mse: 453425504.0000 - val_loss: 1575729920.0000 - val_mse: 1575729920.0000
Epoch 80/100
35/35 [==============================] - 0s 12ms/step - loss: 446025792.0000 - mse: 446025792.0000 - val_loss: 1559538944.0000 - val_mse: 1559538944.0000
Epoch 81/100
35/35 [==============================] - 0s 8ms/step - loss: 440322432.0000 - mse: 440322432.0000 - val_loss: 1555898496.0000 - val_mse: 1555898496.0000
Epoch 82/100
35/35 [==============================] - 0s 5ms/step - loss: 435672832.0000 - mse: 435672832.0000 - val_loss: 1556858496.0000 - val_mse: 1556858496.0000
Epoch 83/100
35/35 [==============================] - 0s 6ms/step - loss: 432378144.0000 - mse: 432378144.0000 - val_loss: 1541156096.0000 - val_mse: 1541156096.0000
Epoch 84/100
35/35 [==============================] - 0s 4ms/step - loss: 424131392.0000 - mse: 424131392.0000 - val_loss: 1543046784.0000 - val_mse: 1543046784.0000
Epoch 85/100
35/35 [==============================] - 0s 3ms/step - loss: 424452736.0000 - mse: 424452736.0000 - val_loss: 1534228608.0000 - val_mse: 1534228608.0000
Epoch 86/100
35/35 [==============================] - 0s 5ms/step - loss: 415344352.0000 - mse: 415344352.0000 - val_loss: 1523843968.0000 - val_mse: 1523843968.0000
Epoch 87/100
35/35 [==============================] - 0s 5ms/step - loss: 412278656.0000 - mse: 412278656.0000 - val_loss: 1524777344.0000 - val_mse: 1524777344.0000
Epoch 88/100
35/35 [==============================] - 0s 5ms/step - loss: 406801152.0000 - mse: 406801152.0000 - val_loss: 1509779328.0000 - val_mse: 1509779328.0000
Epoch 89/100
35/35 [==============================] - 0s 4ms/step - loss: 401475968.0000 - mse: 401475968.0000 - val_loss: 1512502144.0000 - val_mse: 1512502144.0000
Epoch 90/100
35/35 [==============================] - 0s 4ms/step - loss: 395909952.0000 - mse: 395909952.0000 - val_loss: 1503336576.0000 - val_mse: 1503336576.0000
Epoch 91/100
35/35 [==============================] - 0s 4ms/step - loss: 393369856.0000 - mse: 393369856.0000 - val_loss: 1495712128.0000 - val_mse: 1495712128.0000
Epoch 92/100
35/35 [==============================] - 0s 4ms/step - loss: 387131392.0000 - mse: 387131392.0000 - val_loss: 1512143104.0000 - val_mse: 1512143104.0000
Epoch 93/100
35/35 [==============================] - 0s 4ms/step - loss: 383820832.0000 - mse: 383820832.0000 - val_loss: 1490383488.0000 - val_mse: 1490383488.0000
Epoch 94/100
35/35 [==============================] - 0s 4ms/step - loss: 378321856.0000 - mse: 378321856.0000 - val_loss: 1495406720.0000 - val_mse: 1495406720.0000
Epoch 95/100
35/35 [==============================] - 0s 4ms/step - loss: 375824544.0000 - mse: 375824544.0000 - val_loss: 1490345216.0000 - val_mse: 1490345216.0000
Epoch 96/100
35/35 [==============================] - 0s 4ms/step - loss: 370627040.0000 - mse: 370627040.0000 - val_loss: 1484357760.0000 - val_mse: 1484357760.0000
Epoch 97/100
35/35 [==============================] - 0s 4ms/step - loss: 366784384.0000 - mse: 366784384.0000 - val_loss: 1479525760.0000 - val_mse: 1479525760.0000
Epoch 98/100
35/35 [==============================] - 0s 4ms/step - loss: 363882848.0000 - mse: 363882848.0000 - val_loss: 1477252224.0000 - val_mse: 1477252224.0000
Epoch 99/100
35/35 [==============================] - 0s 4ms/step - loss: 357905920.0000 - mse: 357905920.0000 - val_loss: 1461275136.0000 - val_mse: 1461275136.0000
Epoch 100/100
35/35 [==============================] - 0s 4ms/step - loss: 354374592.0000 - mse: 354374592.0000 - val_loss: 1462486912.0000 - val_mse: 1462486912.0000

In [13]:
# print the r_squared
print(f"R-squared: {r2_score(y_test, nn.predict(X_test_scaled))}")

# and other metrics
print(f"Mean Squared Error: {mean_squared_error(y_test, nn.predict(X_test_scaled))}")
print(f"Mean Absolute Error: {mean_absolute_error(y_test, nn.predict(X_test_scaled))}")

12/12 [==============================] - 0s 1ms/step
R-squared: 0.7442643972486936
12/12 [==============================] - 0s 2ms/step
Mean Squared Error: 1462486766.525169
12/12 [==============================] - 0s 2ms/step
Mean Absolute Error: 22415.790613195397